<div id="configure-carousel">
  <h1>Products to show</h1>

  <input class="form-control" id="product-search-box" type="text" placeholder="Search for a product to add to carousel...">

  <div id="carousel-items-list">
    <% if @carousel_items.empty? %>
      <%= render 'carousel/empty_carousel_items_alert' %>
    <% else %>
      <%= render 'carousel/carousel_items', carousel_items: @carousel_items %>
    <% end %>
  </div>
</div>
