<% if @carousel_products.any? %>
  <div class="toptal-product-slider" data-shopify-domain="<%= current_shop.shopify_domain %>"></div>
<% else %>
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>
      Once you configure the products to be shown in the carousel, you will see a preview of the carousel here.
    </p>
    <p>
      <%= link_to "Configure Carousel", admin_configure_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
<% end %>
